<web-app>
<welcome-file-list>
<welcome-file>index.jsp</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>Register</servlet-name>
<servlet-class>com.Register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Register</servlet-name>
<url-pattern>/Register</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AuthorLogin</servlet-name>
<servlet-class>com.AuthorLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AuthorLogin</servlet-name>
<url-pattern>/AuthorLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UploadPaper</servlet-name>
<servlet-class>com.UploadPaper</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UploadPaper</servlet-name>
<url-pattern>/UploadPaper</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Payment</servlet-name>
<servlet-class>com.Payment</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Payment</servlet-name>
<url-pattern>/Payment</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminLogin</servlet-name>
<servlet-class>com.AdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminLogin</servlet-name>
<url-pattern>/AdminLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SuperAdminLogin</servlet-name>
<servlet-class>com.SuperAdminLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SuperAdminLogin</servlet-name>
<url-pattern>/SuperAdminLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ReviewerLogin</servlet-name>
<servlet-class>com.ReviewerLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ReviewerLogin</servlet-name>
<url-pattern>/ReviewerLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Feedback</servlet-name>
<servlet-class>com.Feedback</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Feedback</servlet-name>
<url-pattern>/Feedback</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AdminFeedback</servlet-name>
<servlet-class>com.AdminFeedback</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AdminFeedback</servlet-name>
<url-pattern>/AdminFeedback</url-pattern>
</servlet-mapping>

</web-app>