<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FSP 2022-23</title>
    <style>
        #myprogress{
        width:70%;
        height: 35px;
        background-color:grey;
        margin:auto;
        border-radius: 8px;
    }
    #mybar{
        height:35px;
        width:5%;
        background-color:green;
        color:white;
        font-weight: bold;
        font-size: 30px;
        text-align:center; 
        border-radius:8px; 
    }
        .basetb, tr{
            height: 65px;
        }
        .basetb, td{
            text-align: center;
        }
        .basetb, input{
            text-align: left;
        }
        .basetb{
            display: inline;
                width: 100%;
                font-size: 20px;
                font-family: sans-serif;
        }
        #inner1{
            font-family: sans-serif;
            font-size: 35px;
            width: 100%;
            color:black;
            text-align: center;
        }  
        input{
            border-radius: 8px;
            /* height: 10px; */
            font-family: sans-serif;
        }
        .btn{
            transition: 0.3s; 
        }
        .btn:hover {
            background-color: #3e8e41;
            color: white;
        }
input:hover {
    background-color: beige;
    border: 3px solid #999;
    border-radius: 10px;
}
select:focus{
    box-shadow: 0px 0px 5px #61C5FA;
    border-color: #5AB0DB;
}

select:hover {
    background-color: beige;
    border: 1px solid #999;
    border-radius: 5px;
}
select{
    width: 320px;
    height: 35px;
    font-size: 20px;
    border-radius: 8px;
}
  </style>
</head>
<body onload="move()">
    <table style="text-align: center;" id="inner1">
        <tr>
            <td>
                <b>DIABETES PREDICTION USING MACHINE LEARNING TECHNIQUES</b>
            </td>
        </tr>
    </table>
    <table class="basetb">
    <form action="{{url_for('predict')}}" method="POST">
        <tr>
        <td style="text-align: left;padding-left: 70px" width="50%">Age</td>
        <td style="text-align: left;">
            <input value="{{request.form['age'] }}" style="height: 30px;font-size: 25px;" type="number" name="age" required></td>
        </tr>
        <tr style="text-align: center;">
        <td style="text-align: left;padding-left: 70px">Gender</td>
        <td style="text-align: left;">
            <select selected="{{request.form['gender']}}" name="gender">
                <option value="1">
                    Male
                </option>
                <option value="2">
                    Female
                </option>
            </select>    
        </td>
        </tr>
        <tr>
        <td style="text-align: left;padding-left: 70px">Family Diabetes</td>
        <td style="text-align: left;">
            <select selected="{{request.form['fd']}}" name="fd" style="width: 320px;font-size: 20px;border-radius: 8px;">
                <option value="2">
                    No
                </option>
                <option value="1">
                    Yes
                </option>
            </select> 
        </td>
        </tr>
        <tr>
        <td style="text-align: left;padding-left: 70px">High BP</td>
        <td style="text-align: left;">
            <select selected="{{request.form['hbp']}}" name="hbp" style="width: 320px;font-size: 20px;border-radius: 8px;">
                <option value="2">
                    No
                </option>
                <option value="1">
                    Yes
                </option>
            </select>
        </td>
        </tr>
        <tr>
            <td style="text-align: center;padding-right: 100px">Physical Activity</td><td style="text-align: left;">
                <select selected="{{request.form['pa']}}" name="pa" style="width: 320px;font-size: 20px;border-radius: 8px;">
                    <option value="3">
                        Less than half-an-hour
                    </option>
                    <option value="2">
                        More than half an hour
                    </option>
                    <option value="1">
                        One hour or more
                    </option>
                    <option value="0">
                        No Activity
                    </option>
                </select>
            </td>
            </tr>
            <tr>
                <td style="text-align: center;padding-right: 100px">BMI</td>
                <td style="text-align: left;">
                    <input required value="{{request.form['bmi']}}" style="height: 30px;font-size: 25px;" type="number" name="bmi"></td>
                </tr>
                <tr>
                <td style="text-align: right;padding-right: 100px">Average Sleep in hours</td>
                <td style="text-align: left;">
                    <input required value="{{request.form['slp']}}" style="height: 30px;font-size: 25px;" type="number" name="slp"></td>
            </td>
                </tr>
    </table>
        <table class="basetb">
        <tr>
        <td style="text-align: right;padding-right: 100px">Regular Medicine Consumption</td>
        <td style="text-align: left;">
            <select selected="{{request.form['rmc']}}" name="rmc" style="width: 320px;font-size: 20px;border-radius: 8px;">
                <option value="0">
                    No
                </option>
                <option value="1">
                    Yes
                </option>
            </select>
        </td>   
        </tr>
        <tr>
        <td style="text-align: right;padding-right: 100px">Do you Smoke?</td><td style="text-align: left;">
        <select selected="{{request.form['smoke']}}" name="smoke" style="width: 320px;font-size: 20px;border-radius: 8px;">
                <option value="2">
                    No
                </option>
                <option value="1">
                    Yes
                </option>
            </select>    
        </td>
        </tr>
        <tr>
        <td style="text-align: right;padding-right: 100px">Do you consume Alcohol?</td><td style="text-align: left;">
            <select selected="{{request.form['alco']}}" name="alco" style="width: 320px;font-size: 20px;border-radius: 8px;">
                <option value="2">
                    No
                </option>
                <option value="1">
                    Yes
                </option>
            </select>        
        </td>
        </tr>
        <tr>
        <td style="text-align: right;padding-right: 100px">Junk Food Consumption</td><td style="text-align: left;">
            <select selected="{{request.form['jfc']}}" name="jfc" style="width: 320px;font-size: 20px;border-radius: 8px;">
                <option value="0">
                    Occasionally
                </option>
                <option value="1">
                    Often
                </option>
                <option value="2">
                    Very Often
                </option>
                <option value="3">
                    Always
                </option>
            </select>        
        </td>
        </tr>
        <tr>
            <td style="text-align: right;padding-right: 100px">Stress</td><td style="text-align: left;">
                <select selected="{{request.form['stress']}}" name="stress" style="width: 320px;font-size: 20px;border-radius: 8px;">
                    <option value="3">
                        Sometimes
                    </option>
                    <option value="2">
                        Very Often
                    </option>
                    <option value="1">
                        Not at All
                    </option>
                    <option value="0">
                        Always
                    </option>
                </select>        
            </td>
            </tr>
            <tr>
                <td style="text-align: right;padding-right: 100px">No. of Pregnancies</td>
                <td style="text-align: left;">
                    <input required value="{{request.form['pr']}}" style="height: 30px;font-size: 25px;" type="number" name="pr"></td>
            </td>
                </tr>
                <tr>
                    <td style="text-align: right;padding-right: 100px">Urination Frequency</td><td style="text-align: left;">
                        <select selected="{{request.form['ufc']}}" name="ufc" style="width: 320px;font-size: 20px;border-radius: 8px;">
                            <option value="0">
                                Not much
                            </option>
                            <option value="1">
                                Quite Often
                            </option>
                        </select>        
                    </td>
                    </tr>
            </table>
            <table width="100%">
                <tr>
            <td>
            <input style="font-size: 25px;width: 90px;height:35px;text-align: center;" type="submit" value="Predict" class="btn" onclick="change()">
        </td>
        </tr>
    </form>
</table>
<div style="text-align:center;width:100%;font-size:20px;font-weight: bold;">Your Risk of Diabetes:</div>  
<div id="myprogress">
    <div id="mybar">
        <span id="incvalue1">{{pred}}</span>
    </div>
</div>
    <script>
        const move = ()=>{
            var elem = document.getElementById("mybar");
            var width=1;
            var upp1 = parseInt(document.getElementById('incvalue1').innerHTML);
            console.log(upp1);
            var id = setInterval(frame, 25);
            function frame(){
            if(width>=upp1)
                {
                clearInterval(id);
                }
            else{
                width++;
                elem.style.width=width+"%";
                document.getElementById('incvalue1').innerHTML = width+"%";
            }
            }
            if(upp1<30)
                {
                elem.style.backgroundColor="green";
                }
            else if(upp1>=30 && upp1<=50){
                elem.style.backgroundColor="orange";
                elem.style.color="black";
            }
            else if(upp1>50 && upp1<=75){
                elem.style.backgroundColor="red";
            }
            else if(upp1>75 && upp1<=100){
                elem.style.backgroundColor="darkred";
            }
        }
        </script>
</body>
<footer style="text-align: center;">
    <I>
        <b>
    &copy; Full Semester Project under the supervision of 
    <p style="display:inline">Dr. Arul Xavier V M</p>,
    M.E., Ph. D. Assistant Professor,
    Department of Computer Science and Engineering,
    Karunya Institute of Technology and Sciences</i></b>
    </footer>
</html>
